/* Variables */

$color-one: #0097e6;
$color-two: #33d9b2;
$color-three: #ff5252;

$color-font-one: #ffffff;
$color-font-two: #2c2c54;

$font-text: 'Inconsolata', Sans-Serif;
$font-header: 'Signika', Serif;

/* Global */

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 16px;
    line-height: 1.7;
    font-family: $font-text;
    color: $color-font-two;
    
}

.container {
    max-width: 1140px;
    padding: 0 20px;
    margin: 0 auto;
}